{% import 'contrib/compose_helpers.j2' as helpers with context %}

networks:
  {{ helpers.default_network(249) | indent(2) }}
  traefik_traefik:
    external: true

services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    env_file:
      - .env.gluetun
    restart: unless-stopped
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/gluetun:/gluetun

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    labels:
      - {{ helpers.traefik_labels('qbit', port='8080', auth=true) | indent(6) }}
    restart: unless-stopped
    environment:
      {#  Keeping this for debugging purposes  -#}
      - DOCKER_MODS=linuxserver/mods:universal-package-install
    network_mode: service:gluetun
    volumes:
      - {{ base_volume_path }}/arrstack/config/qbittorrent:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex
      - {{ media_volume_path }}/iso-img:/media/iso-img
    depends_on:
      gluetun:
        condition: service_healthy

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    labels:
      - {{ helpers.traefik_labels('prowlarr', port='9696', auth=true) | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/prowlarr:/config

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    labels:
      - {{ helpers.traefik_labels('sonarr', port='8989', auth=true) | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/sonarr:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    labels:
      - {{ helpers.traefik_labels('radarr', port='7878', auth=true) | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/radarr:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex
