{% import 'contrib/compose_helpers.j2' as helpers with context %}
{##}
version: "3.9"

networks:
  {{ helpers.default_network(197) | indent(2) }}
  traefik_traefik:
    external: true

services:
  jellyfin:
    image: jellyfin/jellyfin:10.8.6
    container_name: jellyfin_jellyfin
    labels:
      - {{ helpers.traefik_labels('jellyfin', port='8096') | indent(6) }}
    restart: unless-stopped
    env_file:
      - .env.jellyfin
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/jellyfin/config:/config
      - {{ base_volume_path }}/jellyfin/cache:/cache
      - {{ media_volume_path }}/Plex/media:/data/media:ro
      - {{ media_volume_path }}/other_videos:/data/other_videos:ro
    tmpfs:
      - /tmp/transcodes
    devices:
      - /dev/dri:/dev/dri
