{% from "contrib/compose_helpers.j2" import traefik_labels with context %}
{##}
version: "3.7"

networks:
  default:
  traefik_traefik:
    external: true

services:
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    labels:
      - {{ traefik_labels("qbit", port="8080") | indent(6) }}
    restart: unless-stopped
    networks:
      - default
      - traefik_traefik
    volumes:
      - ./wireguard:/etc/wireguard:ro
      - ./custom-init:/custom-cont-init.d:ro
      - {{ base_volume_path }}/arrstack/config/qbittorrent:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex
      - {{ media_volume_path }}/iso-img:/media/iso-img

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    labels:
      - {{ traefik_labels("jackett", port="9117") | indent(6) }}
    restart: unless-stopped
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/jackett:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    labels:
      - {{ traefik_labels("sonarr", port="8989") | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
      - jackett
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/sonarr:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    labels:
      - {{ traefik_labels("radarr", port="7878") | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
      - jackett
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/radarr:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex
