{% import 'contrib/compose_helpers.j2' as helpers with context %}
{##}
version: "3.9"

networks:
{#  {{ helpers.default_network(249) | indent(2) }}#}
  # TODO: Figure out IPv6 leaks
  ipv4_only:
  traefik_traefik:
    external: true

services:
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    labels:
      - {{ helpers.traefik_labels('qbit', port='8080', auth=true) | indent(6) }}
    restart: unless-stopped
    environment:
      - DOCKER_MODS=linuxserver/mods:universal-package-install
      - INSTALL_PACKAGES=wireguard-tools-wg
    networks:
      - ipv4_only
      - traefik_traefik
    volumes:
      - ./wireguard:/etc/wireguard:ro
      - ./custom-init:/custom-cont-init.d:ro
      - {{ base_volume_path }}/arrstack/config/qbittorrent:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex
      - {{ media_volume_path }}/iso-img:/media/iso-img

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    labels:
      - {{ helpers.traefik_labels('prowlarr', port='9696', auth=true) | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
    networks:
      - ipv4_only
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/prowlarr:/config

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    labels:
      - {{ helpers.traefik_labels('sonarr', port='8989', auth=true) | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
    networks:
      - ipv4_only
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/sonarr:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    labels:
      - {{ helpers.traefik_labels('radarr', port='7878', auth=true) | indent(6) }}
    restart: unless-stopped
    depends_on:
      - qbittorrent
    networks:
      - ipv4_only
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/arrstack/config/radarr:/config
      - {{ base_volume_path }}/arrstack/downloads:/downloads
      - {{ media_volume_path }}/Plex:/media/Plex
