{% import 'contrib/compose_helpers.j2' as helpers with context %}

networks:
  {{ helpers.default_network(252) | indent(2) }}

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    labels:
      - {{ helpers.traefik_labels('minio', port='9090') | indent(6) }}
      - {{ helpers.traefik_labels('s3', port='9000') | indent(6) }}
      - {{ helpers.traefik_labels('s3', port='9000', wildcard=true) | indent(6) }}
    restart: unless-stopped
    command: server --console-address ":9090" /data
    env_file:
      - .env.minio
    volumes:
      - {{ base_volume_path }}/minio/data:/data
