{% from "contrib/compose_helpers.j2" import traefik_labels with context %}
{##}
version: "3.7"

networks:
  default:
  traefik_traefik:
    external: true

services:
  server:
    image: gitea/gitea:1.18
    container_name: gitea_server
    labels:
      - {{ traefik_labels("gitea", port="3000") | indent(6) }}
    restart: unless-stopped
    env_file:
      - .env.gitea
    networks:
      - default
      - traefik_traefik
    volumes:
      - {{ base_volume_path }}/gitea/gitea:/data
    depends_on:
      - db
  db:
    image: postgres:14-alpine
    container_name: gitea_db
    restart: unless-stopped
    env_file:
      - .env.db
    networks:
      - default
    volumes:
      - {{ base_volume_path }}/gitea/postgres:/var/lib/postgresql/data
