version: "3.9"

networks:
  default:
  traefik_traefik:
    external: true

volumes:
  config:
  torrent_blackhole:

services:
  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    labels:
      - traefik.enable=true
      - traefik.http.routers.jackett.rule=Host(`jackett.{{ domain }}`)
      - traefik.http.services.jackett.loadbalancer.server.port=9117
    restart: unless-stopped
    networks:
      - default
      - traefik_traefik
    volumes:
      - config:/config
      - torrent_blackhole:/downloads
