apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    editable: false

  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus
    url: http://prometheus:9090
    editable: false

  - name: InfluxDB
    type: influxdb
    access: proxy
    uid: influxdb
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: home
      defaultBucket: influx
    secureJsonData:
      token: {{ influxdb_admin_token }}
    editable: false
