auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  # TODO: Consider setting up S3 for storage
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-10-18
      index:
        period: 24h
        prefix: index_
      object_store: filesystem
      schema: v13
      store: tsdb

# TODO: Figure this out
# ruler:
#   alertmanager_url: http://localhost:9093
