api:
  insecure: true

log:
  level: INFO
accessLog:

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http3:
      advertisedPort: 443
    forwardedHeaders:
      trustedIPs:
        # https://www.cloudflare.com/ips-v6
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32
  metrics:
    address: ":8082"

metrics:
  prometheus:
    entryPoint: metrics

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: "/acme/acme.json"
      keyType: "EC384"
      dnsChallenge:
        provider: "cloudflare"
        delayBeforeCheck: 10
        resolvers:
          - 1.1.1.1
          - 8.8.8.8
          - 9.9.9.9

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /rules
    watch: true
