api:
  insecure: true

log:
  level: INFO
accessLog:

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http3:
      advertisedPort: 443
  metrics:
    address: ":8082"

metrics:
  prometheus:
    entryPoint: metrics

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: "/acme/acme.json"
      keyType: "EC384"
      dnsChallenge:
        provider: "cloudflare"
        delayBeforeCheck: 10
        resolvers:
          - 1.1.1.1
          - 8.8.8.8
          - 9.9.9.9

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /rules
    watch: true
