version: "3.9"

networks:
  default:
  traefik_traefik:
    external: true

volumes:
  config:
  cache:
  media:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=truenas.lab.home,nfsvers=4,ro,noatime"
      device: ":/mnt/Mass-Storage-New/JailStorage/Plex/media"
  other_videos:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=truenas.lab.home,nfsvers=4,ro,noatime"
      device: ":/mnt/Mass-Storage-New/syncThingData/Videos"

services:
  jellyfin:
    image: jellyfin/jellyfin:10.8.6
    container_name: jellyfin_jellyfin
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ domain }}`)
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
    restart: unless-stopped
    env_file:
      - .env.jellyfin
    networks:
      - default
      - traefik_traefik
    volumes:
      - config:/config
      - cache:/cache
      - media:/data/media
      - other_videos:/data/other_videos
    tmpfs:
      - /tmp/transcodes
    devices:
      - /dev/dri:/dev/dri
