version: 1
metadata:
  labels:
    blueprints.goauthentik.io/instantiate: "true"
  name: Alpina - Default Groups
entries:
  - identifiers:
      name: "admins"
    model: authentik_core.group
    id: "admins"
    attrs:
      is_superuser: true

  - identifiers:
      name: "users"
    model: authentik_core.group
    id: "users"

  - identifiers:
      name: "arrstack"
    model: authentik_core.group
    id: "arrstack"
    attrs:
      arrstack_username: "arr"
      arrstack_password: "{{ arrstack_password }}"

  - identifiers:
      scope_name: "minio"
    model: authentik_providers_oauth2.scopemapping
    id: "scope-minio"
    attrs:
      name: "Minio Policy"
      expression: |
        policy = "default"
        if ak_is_group_member(request.user, name="admins"):
            policy = "consoleAdmin"

        return {
          "policy": policy,
        }

  - identifiers:
      name: "vpgen"
    model: authentik_core.group
    id: "vpgen"
