version: "3.9"

networks:
  traefik:

volumes:
  logs:

services:
  traefik:
    image: traefik:v2.9
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "8080:8080"
    env_file:
      - .env.traefik
    networks:
      - traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - logs:/logs
      - {{ current_svc_path }}/rules:/rules:ro
