api:
  insecure: true

log:
  filePath: /logs/traefik.log
  level: INFO
accessLog:
  filePath: /logs/access.log
  bufferingSize: 100

entryPoints:
  web:
    address: ":80"

  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: "/acme/acme.json"
      keyType: "EC384"
      dnsChallenge:
        provider: "cloudflare"
        delayBeforeCheck: 10
        resolvers:
          - 1.1.1.1
          - 8.8.8.8
          - 9.9.9.9

providers:
  docker:
    exposedByDefault: false
    network: traefik_traefik
  file:
    directory: /rules
    watch: true
